site_name: Expense Ease
site_url: https://sitename.example
theme:
  name: material
  features:
    - content.code.annotate
    - content.tooltips
    - content.tabs.link
    - content.code.copy
  font:
    text: Outfit
    code: Roboto Mono
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: black
      accent: white

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.details
  - markdown.extensions.abbr
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - md_in_html

plugins:
  - search
  - mermaid2:
      javascript: https://unpkg.com/mermaid@10.4.0/dist/mermaid.esm.min.mjs 

nav:
  - Home: index.md
  - Functional Doc: functional.md
  - Workflow: workflow.md
  - Use Case Doc: usecase.md
  - UI UX: ui_ux.md
  - External Interfaces: external_interfaces.md
  - Glossary: glossary.md
  